@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffa600;
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
}

main {
    margin-top: 8em;
}

#value {
    font-size: 150px;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.button-container {
    display: flex;
}

.btn {
    font-size: 30px;
    background-color: #ffa600;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    height: 50px;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 1rem auto;
}

.btn:hover {
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    
    .button-container {
        flex-direction: column;
        margin-top: 6rem;
    }

    .container {
        height: 90vh;
    }

    .btn {
        margin-bottom: 2rem;
        font-size: 80px;
        height: auto;
    }

}