@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffa600;
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
}

main {
    margin-top: 8em;
}

#value {
    font-size: 150px;
}

.btn {
    font-size: 30px;
    background-color: #ffa600;
    margin: 40px 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    height: 50px;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #fff;
}